*{
    border-collapse: collapse;
    margin:0px;
    padding: 0px;
    text-decoration: none; /*밑줄*/
    color: black;
    list-style: none;
    background-color: beige;
}
.head1{
    text-align: center;
    font-size: 450%;
    color:rgb(235, 144, 159);
}
.deco{
  background-color : lightpink;
  border-radius: 20px;
  width: 800px;
  height: 50px;
  text-align:center;
  margin: auto;
  margin-top: 20px;
  line-height: 50px;
  font-size: 130%;
  font-weight: bold;
  display: block;
  cursor: pointer;
}